<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head.ejs') %>
  <title>Galary</title>
</head>
<body>
  <div class="index_container"> 
    <na>
      <%- include ('./partials/nav.ejs') %>
      <a href="#">profile</a>
      <a class="nav_link" href="/arts">upload</a>
    </na>
    
    <h1>index page</h1>

    <% for(let i = 0; i < uploads.length; i++) {%>
      <div class="upload">
        <a  href="/arts/<%=uploads[i].id%>">
          <img src="<%=uploads[i].img%>"/>
        <div class="info">
          <div class=title><%=uploads[i].title%></div>
          <div class=tags>tags: <%=uploads[i].tags%></div>
        </div>
      </a>  
      </div>
    <%}%>

  </div>
</body>
</html>