<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head.ejs') %>
  <title>Galary</title>
</head>
<body>
  <div class="index_nav">
    <a class="upload_link" href="/arts/new">upload</a>
    <%- include ('./partials/nav.ejs') %>
  </div>
  <h1 class="index_h1">Archive</h1>
  <div class="upload_container"> 
    <div class="upload_wrap">
      <% for(let i = 0; i < uploads.length; i++) {%>
        <div class="upload">
          <a  href="/arts/<%=uploads[i].id%>">
            <img src="<%=uploads[i].img%>"/>
          </a> 
          <div class="info">
            <%=uploads[i].numberOfLikes%>
            <form class="like_form"  action="/arts/<%=uploads[i].id%>/numberOfLikes?_method=PUT" method="POST">
              <!-- <i class="far fa-heart">
                <input type="submit" value="Like" class="like_button" />
              </i> -->
                <button type="submit" class="like_button"><i class="far fa-heart"></i></button>
            </form>
            <div class=title><%=uploads[i].title%></div>
            <div class=tags>tags: <%=uploads[i].tags%></div>
          </div> 
        </div>
      <%}%>

    </div>
  </div>
</body>
</html>