<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head.ejs') %>
  <title>Document</title>
</head>
<body>
  <div class="index_nav">
    <a class="upload_link" href="/arts/">Archive</a>
    <%- include ('./partials/nav.ejs') %>
  </div>
  <div class="show_container">
    <div class="show_upload">
      <div class="upload_img">
        <img src="<%=upload.img%>"class="pic"/>
      </div>
      <div class="upload_info">
        <span class="upload_title"><%=upload.title%></span>
        <h4>About my work:</h4>
        <div id="description"><%=upload.description%></div>
        <form action="/arts/<%=upload.id%>/comments" class="comment_form" method="POST">
          <input name="comments[][sender]" class="comment-id" type="text" value="<%=currentUser.username%>">
          <textarea name="comments[][comment]" placeholder="comment" class="comment_textarea" rows="5" cols="40"></textarea> 
          <input type="submit" value="submit" class="sub_comment"/>
        </form>
        <div class="comments_wrap">
          <ul>
            <% for(let i = 0; i < upload.comments.length; i++) {%>
              <li>
                <%=upload.comments[i].sender%>: 
                <%=upload.comments[i].comment%>
              </li>
            <%}%>
          </ul>
        </div>
        <% if(currentUser._id === upload.post_user) {%>
          <div class="edit_upload">
            <a class="edit_button" href="/arts/<%=upload.id%>/edit">edit upload</a>
          </div>
        <%}%>
      </div>
    </div>
  </div>
      
</body>
</html>